# Python
*.py[cod]
*egg-info/

# Distutils
MANIFEST
build/
dist/

# Gramps
share/gprime/data/tips.xml
share/gprime/data/holidays.xml
po/.intltool-merge-cache
docs/_build/

# Editing
tags
*.swp

# Testing
test/data

# Windows image file caches
Thumbs.db
ehthumbs.db

# Glade temp files
*~
