include README.md

include MANIFEST.in
recursive-include share/gprime/images *
recursive-include share/gprime/data *
recursive-include share/gprime/data/templates *.html
recursive-include share/gprime/data/jhtmlarea *
recursive-include share/gprime/data/css *
recursive-include share/gprime/data/javascript *.js
recursive-include gprime *
recursive-include po *

# Remove files created in the build
exclude share/gprime/data/tips.xml
exclude share/gprime/data/holidays.xml
exclude po/.intltool-merge-cache
global-exclude *.pyc
global-exclude *.pyo
