{% autoescape None %}
{% extends "gramps-base.html" %}

{% block title %}{{sitename}}: {{opts.database}}, {{tview}} {% end %}
{% block heading %}{{sitename}}: {{opts.database}}, {{tview}} {% end %}

{% block content %} 
   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   {% if action == "edit" %}
      set_has_data_to_save("Yes");
   {% end %}
   });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}
  
<div id="summaryarea">
  <table class="infolist" style="width:100%;">
    <col width="10%">
    <col width="90%">
<tbody>
<form method="post">{% module xsrf_form_html() %}

  <tr>
    <td class="ColumnAttribute">{{_("Private") }}:</td>
    <td class="ColumnValue">{{ form.render(form.path + ".private", user, action) }}</td>
  </tr>
  <tr><td id="rowspace"></td></tr>
  <tr>
    <td class="ColumnAttribute">{{ _("Attribute type") }}:</td>
    <td class="ColumnValue">{{ form.render(form.path + ".type", user, action) }}</td>
  </tr>
  <tr><td id="rowspace"></td></tr>
  <tr>
    <td class="ColumnAttribute">{{ _("Attribute value") }}:</td>
    <td class="ColumnValue" id="data">{{ form.render(form.path + ".value", user, action) }}</td>
  </tr>

</tbody>
</table>

{% if user %}
  {% if action == "edit" and form.handler.app.can_edit(user) %}
    <input type="hidden" name="search" value="{{ search }}"/>
    <input type="hidden" name="page" value="{{ page }}"/>
    <input type="submit" value="Save" onclick="set_has_data_to_save(null)"/>
    {{form.make_button(_("Cancel"), form.url, onclick="set_has_data_to_save(null)")}}
  {% else %}
    <div style="background-color: lightgray; padding: 2px 0px 0px 2px; clear: both;">
      {% if form.handler.app.can_add(user) %}
        {{ form.make_icon_button(_("Add Attribute"), form.url + "/add", icon="+") }}
      {% end %}
      {% if form.handler.app.can_edit(user) %}
        {{ form.make_icon_button(_("Edit Attribute"), form.url + "/edit", icon="?") }}
      {% end %}
      {% if form.handler.app.can_delete(user) %}
        {{ form.make_icon_button(_("Delete Attribute"), form.url + "/delete", icon="-") }}
      {% end %}
    </div>
  {% end %}
{% else %}
{% end %}

</form>
{% end %}
