{% autoescape None %}
{% extends "gramps-base.html" %}

{% block title %}{{sitename}}: {{opts.database}} {% end %}
{% block heading %}{{sitename}}: {{opts.database}} {% end %}

{% block content %} 
   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

{# bread crumbs #}
  
<div id="summaryarea">
<table class="infolist" style="width:100%;"> 
<tbody>
<form method="post">{% module xsrf_form_html() %}
</tbody>
</table>

{% if user %}
{% else %}
{% end %}

</form>
{% end %}
