{% autoescape None %}
{% extends "gramps-base.html" %}

{% block title %}{{sitename}}: {{opts.database}}, {{tview}} {% end %}
{% block heading %}{{sitename}}: {{opts.database}}, {{tview}} {% end %}

{% block content %} 
   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

<div id="summaryarea">
<table class="infolist" style="width:100%;"> 
      <col width="10%">
      <col width="35%">
      <col width="10%">
      <col width="35%">
<tbody>
<form method="post">{% module xsrf_form_html() %}
  <tr>

    {% if form.instance.get_field("source_handle.self", form.database) %}
    
    <td class="ColumnAttribute">{{ _("Source Title") }}:</td>
    <td class="ColumnValue">
      <a href="{{form.instance.get_field('source_handle.self', form.database).make_url()}}" style="text-decoration: underline">
	{{ form.render("source_handle.title", user, "view") }}
      </a>
    </td>
    <td class="ColumnAttribute">{{ _("Source Author") }}:</td>
    <td class="ColumnValue">
      <a href="{{form.instance.get_field('source_handle.self', form.database).make_url()}}" style="text-decoration: underline">
	{{ form.render("source_handle.author", user, "view") }}
      </a>
    </td>

    {% else %}

    <td class="ColumnAttribute">{{ _("Source Title") }}:</td>
    <td class="ColumnValue" id="data"></td>
    <td class="ColumnAttribute">{{ _("Source Author") }}:</td>
    <td class="ColumnValue" id="data">

    {% end %}

</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{ form.get_label("change") }}:</td>
 <td class="ColumnValue" id="data" colspan="3">{{ form.render("change", user, "view") }}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{ form.get_label("date") }}:</td>
 <td class="ColumnValue" id="data" colspan="3">{{ form.render("date", user, action) }}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{ form.get_label("page") }}:</td>
 <td class="ColumnValue" id="data" colspan="3">{{ form.render("page", user, action) }}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{ form.get_label("confidence") }}:</td>
 <td class="ColumnValue" id="data">{{ form.render("confidence", user, action) }}</td>
 <td class="ColumnAttribute">{{ form.get_label("gid") }}:</td>
 <td class="ColumnValue" id="data">{{ form.render("gid", user, action) }}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{ form.get_label("private") }}:</td>
 <td class="ColumnValue">{{ form.render("private", user, action) }}</td> 
 <td class="ColumnAttribute">{{ form.get_label("tag_list") }}:</td>
 <td class="ColumnValue" rowspan="3">{{ form.render("tag_list", user, action) }}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr><td>&nbsp;</td></tr>
<tr>
</tbody>
</table>
</div>

{% if user %}
  {% if action == "edit" %}
    {% if form.instance.handle %}
       {{make_button(_("Cancel"), "/citation/" + form.instance.handle)}}
    {% else %}
       {{make_button(_("Cancel"), "/citation")}}
    {% end %}
    <input type="hidden" name="action" value="save"/>
    <input type="hidden" name="search" value="{# search #}"/>
    <input type="hidden" name="page" value="{# page #}"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% if action == "add" %}
      {{ make_button(_("Cancel"), "/citation/") }}
      <input type="hidden" name="action" value="create"/>
      <input type="hidden" name="search" value="{# search #}"/>
      <input type="hidden" name="page" value="{# page #}"/>
      <input type="submit" value="Create"/>
    {% else %}
      <div style="background-color: lightgray; padding: 2px 0px 0px 2px; clear: both;">
      {{ make_icon_button(_("Add Citation"), "/citation/add", icon="+") }}
      {{ make_icon_button(_("Edit Citation"), "/citation/%(handle)s/edit", icon="?", handle=form.get("handle")) }}
      {{ make_icon_button(_("Delete Citation"), "/citation/%(handle)s/delete", icon="-", handle=form.get("handle")) }}
      </div>
    {% end %}
  {% end %}
{% else %}
{% end %}

<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs" style="border: none;">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-corner-top ui-state-default ui-tabs-selected ui-state-active"><a class="tab-notes" href="#tab-notes">{{_("Notes")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-media" href="#tab-media">{{_("Gallery")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-attributes" href="#tab-attributes">{{_("Attributes")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-references" href="#tab-references">{{_("References")}}</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tab-notes" style="background-color: #f4f0ec;">
    {{ note_table(form, user, action, form.instance.note_list) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-media" style="background-color: #f4f0ec;">
    {{ media_table(form, user, action, form.instance.media_list) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-attributes" style="background-color: #f4f0ec;">
    {{ attribute_table(form, user, action, form.instance.attribute_list, form.instance.make_url()) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-references" style="background-color: #f4f0ec;">
    {{ reference_table(form, user, action) }}
  </div>
</div>

</form>
{% end %}

