{% autoescape None %}
{% extends "gramps-base.html" %}

{% block title %}{{sitename}}: {{opts.database}}, {{_(tview)}} {% end %}
{% block heading %}{{sitename}}: {{opts.database}}, {{_(tview)}} {% end %}

{% block content %} 

   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

<h2>{{ form.render("father_handle", user, "view", link="/person/%(handle)s", _class="get_focus", handle=form.instance.father_handle)  }} and 
{{ form.render("mother_handle", user, "view", link="/person/%(handle)s", handle=form.instance.mother_handle)  }}
</h2>

<div id="summaryarea">
<table class="infolist" style="width:90%;"> {# comment #} 4 cols {# end #}
<tbody>
  {% if messages %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">{# familyform.errors #}</div>
    <hr>
  {% end %}
<form method="post" onsubmit="setReturnValues()">{% module xsrf_form_html() %}
<tr>
<th colspan="2">Father</th>
<th colspan="2">Mother</th>
</tr>
<tr>
 <td class="ColumnAttribute">Name:</td>
{% if user  %}
 <td class="ColumnValue" id="data">
{% if action != "view" %}
    <script type="text/javascript">  
        $(function() { 
            $('#father').flexbox('/json/?field=father', {
	        watermark: "{{form._("Enter father's surnname, given")}}",
	        width: 300,
	        paging: {  
                  pageSize: 10,
	          showSummary: true,
	        },
  	        initialValue: '{{ form.render("father_handle", user, "view") }}',
  	        initialId: '{{ form.get("father_handle") }}'
	        });
        });  
    </script>
    <div id="father"></div>  
{% else %}
 {{ form.render("father_handle", user, action) }}
{% end %}
</td>
{% else %}
 {{ form.render("father_handle", user, action) }}
{% end %}
 </td>
 <td class="ColumnAttribute">Name:</td>
{% if user  %}
 <td class="ColumnValue" id="data">
{% if action != "view" %}
   <script type="text/javascript">  
        $(function() { 
            $('#mother').flexbox('/json/?field=mother', {
	        watermark: "{{form._("Enter mother's surnname, given")}}",
	        width: 300,
	        paging: {  
                  pageSize: 10,
	          showSummary: true,
	        },
	        initialValue: '{{ form.render("mother_handle", user, "view")  }}',
  	        initialId: '{{ form.get("mother_handle") }}'
	        });
        });  
    </script>
    <div id="mother"></div>  
{% else %}
 {{ form.render("mother_handle", user, action) }}
{% end %}
{% else %}
 {{ form.render("mother_handle", user, action) }}
{% end %}
</td>
</tr>
{% if user  %}
<tr>
 <td class="ColumnAttribute">Birth:</td>
 <td class="ColumnValue" id="data">{{ form.birth_date(form.family_father(form.instance)) }}</td>
 <td class="ColumnAttribute">Birth:</td>
 <td class="ColumnValue" id="data">{{ form.birth_date(form.family_mother(form.instance)) }}</td>
</tr>
{% else %}
<tr>
 <td class="ColumnAttribute">Death:</td>
 <td class="ColumnValue" id="data">{{ form.death_date(form.family_father(form.instance)) }}</td>
 <td class="ColumnAttribute">Death:</td>
 <td class="ColumnValue" id="data">{{ form.death_date(form.family_mother(form.instance)) }}</td>
</tr>
{% end %}
<tr>
 <td class="ColumnAttribute">Death:</td>
 <td class="ColumnValue" id="data">{{ form.death_date(form.family_father(form.instance)) }}</td>
 <td class="ColumnAttribute">Death:</td>
 <td class="ColumnValue" id="data">{{ form.death_date(form.family_mother(form.instance)) }}</td>
</tr>
</tbody>
</table>
<table class="infolist"> 
<tbody>
<tr>
  <th colspan="4">Relationship information</th>
</tr>
<tr>
 <td class="ColumnAttribute">{{ form.get_label("gid") }}:</td>
 <td class="ColumnValue" id="data">{{ form.render("gid", user, action) }}</td>
 <td class="ColumnAttribute">{# form.get_label("frel") #}:</td>
 <td class="ColumnValue" id="data">{# form.render("frel.type", user, action) #}</td>
</tr>
<tr>
 <td class="ColumnAttribute">{{ form.get_label("tag_list") }}:</td>
 <td class="ColumnValue" id="data">{{ form.render("tag_list", user, action) }}</td>
 <td class="ColumnAttribute">{{ form.get_label("private") }}:</td>
 <td class="ColumnValue" id="data">{{ form.render("private", user, action) }}</td>
</tr>
</tbody>
</table>
</div>
</div>

{% if user %}
  {% if action == "edit" %}
    {# make_button "Cancel" "/family/%s" family.handle args #}
    <input type="hidden" id="father_return" name="father_return" value=""/>
    <input type="hidden" id="mother_return" name="mother_return" value=""/>
    <input type="hidden" name="action" value="save"/>
    <input type="hidden" name="search" value="{#search#}"/>
    <input type="hidden" name="page" value="{#page#}"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% if action == "add" %}
      {# make_button "Cancel" "/family/" args #}
      <input type="hidden" id="father_return" name="father_return" value=""/>
      <input type="hidden" id="mother_return" name="mother_return" value=""/>
      <input type="hidden" name="action" value="create"/>
      <input type="hidden" name="search" value="{#search#}"/>
      <input type="hidden" name="page" value="{#page#}"/>
      <input type="submit" value="Create"/>
    {% else %}
      <div style="background-color: lightgray; padding: 2px 0px 0px 2px; clear: both;">
      {{ make_icon_button(_("Add Family"), "/family/add", icon="+") }}
      {{ make_icon_button(_("Edit Family"), "/family/%(handle)s/edit", icon="?", handle=form.get("handle")) }}
      {{ make_icon_button(_("Delete Family"), "/family/%(handle)s/delete", icon="-", handle=form.get("handle")) }}
      </div>
    {% end %}
  {% end %}
{% else %}
{% end %}

<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs" style="border: none;">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a class="tab-children" href="#tab-children">{{_("Children")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-events" href="#tab-events">{{_("Event")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-citations" href="#tab-citations">{{_("Citation")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-attributes" href="#tab-attributes">{{_("Attribute")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-notes" href="#tab-notes">{{_("Note")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-media" href="#tab-media">{{_("Media")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-lds" href="#tab-lds">{{_("LDS")}}</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tab-children" style="background-color: #f4f0ec;"> 
    <!-- Children -->
    {{ children_table(form, user, action) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-events" style="background-color: #f4f0ec;"> 
    {{ event_table(form, user, action) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-citations" style="background-color: #f4f0ec;"> 
    {{ citation_table(form, user, action, form.instance.citation_list) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-attributes" style="background-color: #f4f0ec;"> 
    {{ attribute_table(form, user, action, form.instance.attribute_list) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-notes" style="background-color: #f4f0ec;"> 
    {{ note_table(form, user, action, form.instance.note_list) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-media" style="background-color: #f4f0ec;"> 
    {{ media_table(form, user, action, form.instance.media_list) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-lds" style="background-color: #f4f0ec;"> 
    {{ lds_table(form, user, action, form.instance.lds_ord_list) }}
  </div>
</div>

</form>
{% end %}
