{% autoescape None %}
{% extends "gramps-base.html" %}

{% block title %}{{sitename}}: {{opts.database}}, {{_(tview)}} {% end %}
{% block heading %}{{sitename}}: {{opts.database}}, {{_(tview)}} {% end %}

{% block content %}

<form name="SearchForm">
  <p>
  <input type="submit" value={{_T_("Search:")}}>
  <input autocomplete="off" name="search" class="get_focus" type="text" size="80%" value="{{search}}">
  <input value="X" type="button" onclick="getElementsByName('search')[0].value = '';" >
  <br/><i>Search term shortcuts
    (<a href="javascript:window.open('https://github.com/GenealogyCollective/gprime/blob/master/docs/Search.md#search','Search Help','width=800,height=400')"><u>help</u></a>)</i>:
    <b>{{", ".join(form.search_terms.keys())}}</b>
  </p>
</form>

<table cellspacing="0" class="infolist surname" width="95%">
<tr>
  <td colspan="{{form.get_column_count()}}">
    {{ form.get_page_controls(page) }}
  </td>
</tr>
<tr>
{% for col in form.get_column_labels() %}
  <th width="{{col.width}}%">
    {{col}}
  </th>
{% end %}
</tr>
{% for row in form.get_rows(page=page) %}
  <tr>
  {% for col in row %}
      <td width="{{col.width}}%">
      {{col}}
      </td>
  {% end %}
  </tr>
{% end %}
<tr>
  <td colspan="{{form.get_column_count()}}">
    {{ form.get_page_controls(page) }}
  </td>
</tr>
</table>

<p>
<div style="background-color: lightgray; padding: 2px 0px 0px 2px">
{{ make_icon_button(_('Add ' + form.tview), "/" + form.view +"/add", icon="+") }}
</div>
</p>
{% end %}
