{% autoescape None %}
{% extends "gramps-base.html" %}

{% block title %}{{sitename}}: {{opts.database}}, {{tview}} {% end %}
{% block heading %}{{sitename}}: {{opts.database}}, {{tview}} {% end %}

{% block content %} 
   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   {% if action == "edit" %}
      set_has_data_to_save("Yes");
   {% end %}
   });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}
  
<div id="summaryarea">
  <table class="infolist" style="width:100%;">
    <col width="10%">
    <col width="90%">
<tbody>
<form method="post">{% module xsrf_form_html() %}

    <td class="ColumnAttribute">{{ _("Place") }}:</td>
    <td class="ColumnValue">
      <a href="{{form.handler.app.make_url(form.instance.get_field(form.path + '.ref.self', form.database).make_url())}}" style="text-decoration: underline">
	{{ form.display_place_from_field_handle(form.path + ".ref") }}
      </a>
    </td>

  <tr><td id="rowspace"></td></tr>
  <tr>
    <td class="ColumnAttribute">{{_("Date") }}:</td>
    <td class="ColumnValue">{{ form.render(form.path + ".date", user, action) }}</td>
  </tr>
  <tr><td id="rowspace"></td></tr>

</tbody>
</table>

{% if user %}
  {% if action == "edit" %}
    <input type="hidden" name="search" value="{{ search }}"/>
    <input type="hidden" name="page" value="{{ page }}"/>
    <input type="submit" value="Save" onclick="set_has_data_to_save(null)"/>
    {{form.make_button(_("Cancel"), form.url, onclick="set_has_data_to_save(null)")}}
  {% else %}
    <div style="background-color: lightgray; padding: 2px 0px 0px 2px; clear: both;">
      {{ form.make_icon_button(_("Add Place reference"), form.url + "/add", icon="+") }}
      {{ form.make_icon_button(_("Edit Place reference"), form.url + "/edit", icon="?") }}
      {{ form.make_icon_button(_("Delete Place reference"), form.url + "/delete", icon="-") }}
    </div>
  {% end %}
{% else %}
{% end %}

<!-- Tabs -->

    
</form>
{% end %}
