{% autoescape None %}
{% extends "gramps-base.html" %}

{% block title %}{{sitename}}: {{opts.database}}, {{_(tview)}} {% end %}
{% block heading %}{{sitename}}: {{opts.database}}, {{_(tview)}} {% end %}

{% block content %}
   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

<div id="summaryarea">
<table class="infolist" style="width:100%;">
<tbody>
  {% if messages %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">
       {# personform.errors #}
       {# nameform.errors #}
       {# surnameform.errors #}
       {# logform.errors #}
    </div>
    <hr>
  {% end %}

{#

Gramps ID: N0001                               Type: General
  Private: False                               Tags:
Place:

#}

<form method="post">{% module xsrf_form_html() %}
<tr>
 <td class="ColumnAttribute">{{ form.get_label("gid") }}:</td>
 <td class="ColumnValue" id="data">{{ form.render("gid", user, action) }}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{ form.get_label("private") }}:</td>
 <td class="ColumnValue" id="data">{{ form.render("private", user, action) }}</td>
 <td class="ColumnAttribute">{{ form.get_label("tag_list") }}:</td>
 <td class="ColumnValue" id="data" rowspan="3">{{ form.render("tag_list", user, action) }}</td>
</tr>
<tr><td id="rowspace"></td></tr>
</tr>
</tbody>
</table>
</div>

{% if logform %}
  <table>
    {# logform.as_table #}
  </table>
{% end %}

{% if user %}
  {% if action == "edit" %}
    {% if form.instance.handle %}
       {{make_button(_("Cancel"), "/place/" + form.instance.handle)}}
    {% else %}
       {{make_button(_("Cancel"), "/place")}}
    {% end %}
    <input type="hidden" name="action" value="save"/>
    <input type="hidden" name="search" value="{# search #}"/>
    <input type="hidden" name="page" value="{# page #}"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% if action == "add" %}
      {{ make_button(_("Cancel"), "/place/") }}
      <input type="hidden" name="action" value="create"/>
      <input type="hidden" name="search" value="{# search #}"/>
      <input type="hidden" name="page" value="{# page #}"/>
      <input type="submit" value="Create"/>
    {% else %}
      <div style="background-color: lightgray; padding: 2px 0px 0px 2px; clear: both;">
      {{ make_icon_button(_("Add Place"), "/place/add", icon="+") }}
      {{ make_icon_button(_("Edit Place"), "/place/%(handle)s/edit", icon="?", handle=form.get("handle")) }}
      {{ make_icon_button(_("Delete Place"), "/place/%(handle)s/delete", icon="-", handle=form.get("handle")) }}
      </div>
    {% end %}
  {% end %}
{% else %}
{% end %}

<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs" style="border: none;">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a class="tab-enclosed-by" href="#tab-enclosed-by">{{_("Enclosed By")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-alt-names" href="#tab-alt-names">{{_("Alternate Name")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-citations" href="#tab-citations">{{_("Citation")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-notes" href="#tab-notes">{{_("Note")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-media" href="#tab-media">{{_("Media")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-internet" href="#tab-internet">{{_("Internet")}}</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-references" href="#tab-references">{{_("References")}}</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-enclosed-by" style="background-color: #f4f0ec;">
    {{ enclosed_by_table(form, user, action) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-internet" style="background-color: #f4f0ec;">
    {{ internet_table(form, user, action, form.instance.urls) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-alt-names" style="background-color: #f4f0ec;">
    {{ alt_name_table(form, user, action) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-citations" style="background-color: #f4f0ec;">
    {{ citation_table(form, user, action, form.instance.citation_list) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-notes" style="background-color: #f4f0ec;">
    {{ note_table(form, user, action, form.instance.note_list) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-media" style="background-color: #f4f0ec;">
    {{ media_table(form, user, action, form.instance.media_list) }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-references" style="background-color: #f4f0ec;">
    {{ reference_table(form, user, action) }}
  </div>
</div>

</form>
{% end %}
