{% autoescape None %}
{% extends "gramps-base.html" %}

{% block title %}{{sitename}}: {{opts.database}} {% end %}
{% block heading %}{{sitename}}: {{opts.database}} {% end %}

{% block content %} 
   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

{# bread crumbs #}
  
<div id="summaryarea">
<table class="infolist" style="width:100%;"> 
<tbody>
  {% if messages %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">
       {# personform.errors #}
       {# nameform.errors #}
       {# surnameform.errors #}
       {# logform.errors #}
    </div>
    <hr>
  {% end %}
<form method="post">{% module xsrf_form_html() %}
<tr>
 <td class="ColumnAttribute">{{ _("Name") }}:</td>
 <td class="ColumnValue" id="data"><input type="text" name="name" value="{{form.instance['name']}}"></input></td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{ _("Password") }}:</td>
 <td class="ColumnValue" id="data"><input type="password" name="password" value=""></input> {{_("(only enter text to change password)")}}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{ _("Email") }}:</td>
 <td class="ColumnValue" id="data"><input type="text" name="email" value="{{form.instance['email']}}"></input></td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{ _("CSS Style") }}:</td>
 <td class="ColumnValue" id="data">{{ render_css(form, user, action) }}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{ _("Language") }}:</td>
 <td class="ColumnValue" id="data">{{ render_language(form, user, action) }}</td>
</tr>
</tbody>
</table>

{% if logform %}
  <table>
    {# logform.as_table #}
  </table>
{% end %}

{% if user %}
  <input type="hidden" name="action" value="apply"/>
  <input type="submit" value={{_T_("Apply")}}/>
{% else %}
{% end %}

</form>
{% end %}
