{% extends "gramps-base.html" %}

{% block title %}{{sitename}}: {{opts.database}} {% end %}
{% block heading %}{{sitename}}: {{opts.database}} {% end %}

{% block content %}
<h3>Logged in: {{user}}</h3>

  <table>
       <tr>
	 <th>Item</th>
	 <th>Count</th>
       </tr>
  {% for table in sorted(database.get_table_func()) %}
       <tr>
          <td><a href="/{{table.lower()}}" class="browsecell">{{table}}</a></td>
          <td><a href="/{{table.lower()}}" class="browsecell">{{database.get_table_func(table,"count_func")()}}</a></td>
       </tr>
  {% end %}
  </table>

{% end %}
